.rrap__audio_button_wrapper {
  display: inline-block; }

.rrap__audio_button {
  padding-left: 11px;
  padding-right: 11px;
  margin-left: 4px;
  margin-right: 4px;
  cursor: pointer;
  align-self: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  height: 50px; }
  .rrap__audio_button .foreground {
    opacity: 0.8; }
  .rrap__audio_button:hover .foreground,
  .rrap__audio_button.highlight .foreground {
    opacity: 1; }
  .rrap__audio_button:active .foreground {
    opacity: 0.7; }

.rrap {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  height: 100%; }
  .rrap__control_bar {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    flex-wrap: wrap-reverse;
    -webkit-box-pack: center;
            justify-content: center;
    background-color: #333; }
    .rrap__control_bar > * {
      height: 50px; }

.rrap__audio_progress_container {
  position: relative;
  -webkit-box-flex: 1;
          flex-grow: 1;
  min-width: 300px; }

.rrap__audio_progress_bar {
  height: 100%; }
  .rrap__audio_progress_bar .progress {
    background-color: rgba(127, 127, 127, 0.295); }

.rrap__audio_status_bar {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: justify;
          justify-content: space-between; }

.rrap__audio_info_marquee {
  /* to make room for __audio_time_progress */
  width: calc(100% - 180px);
  margin-left: 10px;
  font-size: 19.2px;
  color: #fff;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-align: center;
          align-items: center; }
  .rrap__audio_info_marquee > * {
    width: 100%; }
    .rrap__audio_info_marquee > * > * {
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%); }

.rrap__audio_time_progress {
  margin-right: 20px;
  align-self: center;
  color: #fff;
  font-size: 23px; }

.rrap {
  /* https://codepen.io/OxyDesign/pen/ojpepQ */ }
  .rrap__play_pause_button {
    background: none;
    border: none; }
    .rrap__play_pause_button .foreground {
      position: relative;
      width: 30px;
      height: 30px; }
    .rrap__play_pause_button .left,
    .rrap__play_pause_button .right {
      position: absolute;
      top: 0;
      transition-property: width;
      transition-duration: 0.25s;
      transition-timing-function: ease;
      width: 50%;
      height: 100%;
      overflow: hidden; }
      .rrap__play_pause_button .left::after,
      .rrap__play_pause_button .right::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        transition-property: border, height;
        transition-duration: 0.25s;
        transition-timing-function: ease;
        border-style: solid;
        border-width: 15px 30px;
        border-color: transparent transparent transparent #fff;
        width: 0;
        height: 0; }
    .rrap__play_pause_button .left {
      left: 0; }
      .rrap__play_pause_button .left::after {
        left: 0; }
    .rrap__play_pause_button .right {
      right: 0; }
      .rrap__play_pause_button .right::after {
        right: -30px; }
    .rrap__play_pause_button.playing .left,
    .rrap__play_pause_button.playing .right {
      width: 36%; }
      .rrap__play_pause_button.playing .left::after,
      .rrap__play_pause_button.playing .right::after {
        border-width: 0 30px;
        height: 30px; }

.rrap__volume_control {
  height: 50px;
  position: relative; }
  .rrap__volume_control__volume_bar_container {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 1; }
    .rrap__volume_control__volume_bar_container.hiddenup, .rrap__volume_control__volume_bar_container.hiddenright {
      visibility: hidden; }
    .rrap__volume_control__volume_bar_container.hiddenup, .rrap__volume_control__volume_bar_container.upabove {
      width: 100%;
      height: 158px; }
    .rrap__volume_control__volume_bar_container.hiddenright, .rrap__volume_control__volume_bar_container.rightabove, .rrap__volume_control__volume_bar_container.rightbelow {
      width: 180px;
      height: 78px; }
    .rrap__volume_control__volume_bar_container.hiddenup, .rrap__volume_control__volume_bar_container.hiddenright, .rrap__volume_control__volume_bar_container.upabove, .rrap__volume_control__volume_bar_container.rightabove {
      bottom: 50px; }
    .rrap__volume_control__volume_bar_container.rightbelow {
      top: 50px; }
  .rrap__volume_control__volume_bar {
    position: absolute;
    border-radius: 11px;
    background-color: #333;
    box-shadow: 1px 1px 6px 2px rgba(36, 36, 36, 0.8); }
    .rrap__volume_control__volume_bar.hiddenup, .rrap__volume_control__volume_bar.upabove {
      bottom: 28px;
      top: 50px;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      width: 22px; }
    .rrap__volume_control__volume_bar.hiddenright, .rrap__volume_control__volume_bar.rightabove, .rrap__volume_control__volume_bar.rightbelow {
      bottom: 28px;
      top: 28px;
      left: 50px;
      right: 50px; }
    .rrap__volume_control__volume_bar .volume {
      border-radius: 11px;
      background-color: rgba(127, 127, 127, 0.295); }
    .rrap__volume_control__volume_bar .handle {
      cursor: pointer;
      width: 34px;
      height: 34px;
      border-radius: 50%;
      background-color: rgba(127, 127, 127, 0.295);
      box-shadow: 1px 1px 6px 0px rgba(51, 51, 51, 0.8);
      position: relative; }
      .rrap__volume_control__volume_bar .handle > div {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 34px;
        height: 34px;
        border-radius: 50%;
        background-color: #fff;
        opacity: 0.8; }
      .rrap__volume_control__volume_bar .handle:hover > div,
      .rrap__volume_control__volume_bar .handle.highlight > div {
        opacity: 1; }
      .rrap__volume_control__volume_bar .handle:active > div {
        opacity: 1; }

.rrap__material_toggle {
  background: none;
  border: none; }
  .rrap__material_toggle .inner {
    margin-left: -8px;
    margin-right: -8px;
    width: 48px;
    height: 42px; }
  .rrap__material_toggle svg {
    fill: rgba(255, 255, 255, 0.5); }
  .rrap__material_toggle.on svg {
    fill: #fff; }

.rrap__skip_button {
  background: none;
  border: none; }
  .rrap__skip_button.back {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  .rrap__skip_button .skip_button_inner {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row; }
  .rrap__skip_button .right_facing_triangle {
    width: 0;
    height: 0;
    border-left: 16px solid #fff;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; }
  .rrap__skip_button .vertical_bar {
    width: 0;
    height: 0;
    margin-left: -3px;
    border-left: 3px solid #fff;
    border-top: 10px solid #fff;
    border-bottom: 10px solid #fff; }

.rrap__video_display_container {
  -webkit-box-flex: 1;
          flex-grow: 1; }

.rrap__spacer {
  width: 10px; }

