@import 'variables';

.rr_audio_player {

  &__repeat_button {
    svg {
      margin-left: -6px;
      margin-right: -6px;
      fill: darken($rr_audio_player_repeat_btn_bg_color, 50%);
    }

    &.repeat svg {
      fill: $rr_audio_player_repeat_btn_bg_color;
    }
  }
}
