@import 'variables';

.rr_audio_player {

  &__repeat_button {
    .inner {
      margin-left: -8px;
      margin-right: -8px;
      width: 48px;
      height: 42px;
    }

    svg {
      fill: darken($rr_audio_player_repeat_btn_bg_color, 50%);
    }

    &.repeat svg {
      fill: $rr_audio_player_repeat_btn_bg_color;
    }
  }
}
