@import 'variables';

.rr_audio_player {

  &__audio_button {
    padding-left: $rr_audio_player_btn_padding;
    padding-right: $rr_audio_player_btn_padding;
    margin-left: $rr_audio_player_btn_margin;
    margin-right: $rr_audio_player_btn_margin;
    cursor: pointer;
    align-self: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: $rr_audio_player_btn_height;

    .foreground {
      opacity: $rr_audio_player_btn_normal_opacity;
    }
    &:hover .foreground,
    &.highlight .foreground {
      opacity: $rr_audio_player_btn_hover_opacity;
    }
    &:active .foreground {
      opacity: $rr_audio_player_btn_active_opacity;
    }
  }
}
