@import 'variables';

.rrap {

  &__audio_button {
    padding-left: $rrap_btn_padding;
    padding-right: $rrap_btn_padding;
    margin-left: $rrap_btn_margin;
    margin-right: $rrap_btn_margin;
    cursor: pointer;
    align-self: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: $rrap_btn_height;

    .foreground {
      opacity: $rrap_btn_normal_opacity;
    }
    &:hover .foreground,
    &.highlight .foreground {
      opacity: $rrap_btn_hover_opacity;
    }
    &:active .foreground {
      opacity: $rrap_btn_active_opacity;
    }
  }
}
