@import 'variables';

.rrap {

  &__skip_button {

    &.back {
      transform: rotate(180deg);
    }

    .skip_button_inner {
      display: flex;
      flex-direction: row;
    }
    .right_facing_triangle {
      width: 0;
      height: 0;
      border-left: 16px solid $rrap_play_btn_border_color;
      border-top: 16px solid transparent;
      border-bottom: 16px solid transparent;
    }
    .vertical_bar {
      width: 0;
      height: 0;
      margin-left: -3px;
      border-left: 3px solid $rrap_play_btn_border_color;
      border-top: 16px solid $rrap_play_btn_border_color;
      border-bottom: 16px solid $rrap_play_btn_border_color;
    }
  }
}
