$rrap_base_height: 50px !default;
$rrap_base_bg_color: #333 !default;
$rrap_base_text_color: #fff !default;

$rrap_btn_bg_color: #fff !default;
$rrap_btn_height: $rrap_base_height !default;
$rrap_btn_margin: 4px !default;
$rrap_btn_padding: 11px !default;
$rrap_btn_normal_opacity: 0.8 !default;
$rrap_btn_hover_opacity: 1.0 !default;
$rrap_btn_active_opacity: 0.7 !default;

$rrap_spacer_width: 10px !default;

$rrap_info_font_size: 19.2px !default;
$rrap_time_font_size: 23px !default;
$rrap_time_margin: 20px !default;

$rrap_marquee_margin: $rrap_spacer_width !default;
$rrap_marquee_width: calc(100% - 180px) !default;

$rrap_play_btn_border_color: $rrap_btn_bg_color !default;
$rrap_play_btn_pause_bar_width: 36% !default;
$rrap_play_btn_inner_height: 30px !default;
$rrap_play_btn_inner_width: 30px !default;
$rrap_play_btn_triangle_color: $rrap_base_bg_color !default;

$rrap_progress_bg_color: #4a4a4a !default;

$rrap_volume_control_height: $rrap_base_height !default;

$rrap_volume_btn_width: 32px !default;

$rrap_volume_bar_color: $rrap_progress_bg_color !default;
$rrap_volume_bar_width: 22px !default;
$rrap_volume_bar_height: 80px !default;
$rrap_volume_bar_gutter_close: 28px !default;
$rrap_volume_bar_gutter_far: 50px !default;

$rrap_volume_handle_color: $rrap_btn_bg_color !default;
$rrap_volume_handle_box_shadow: 1px 1px 6px 0px rgba($rrap_base_bg_color, 0.8) !default;
$rrap_volume_handle_size: 34px !default;
$rrap_volume_handle_border_width: 0px !default;
$rrap_volume_handle_normal_opacity: $rrap_btn_normal_opacity !default;
$rrap_volume_handle_hover_opacity: $rrap_btn_hover_opacity !default;
$rrap_volume_handle_active_opacity: $rrap_btn_hover_opacity !default; // on purpose

$rrap_material_toggle_btn_on_color: $rrap_btn_bg_color !default;
$rrap_material_toggle_btn_off_color: darken($rrap_material_toggle_btn_on_color, 50%) !default;
