@import 'variables';

.rrap {
  &__media_progress_container {
    position: relative;
    flex-grow: 1;
    min-width: 300px;
  }
  &__media_progress_bar {
    height: 100%;

    .progress {
      background-color: $rrap_progress_bg_color;
    }
  }
}
